body {
  font-family: sans-serif;
  background: #b9b3a9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("quiz1-bgimg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1000px;
  height: 500px;
}

.fontp{
      color:#000080;
      font-family: serif;
      font-size: 160%;
      font-weight:bold;
}

h1 {
  text-align: center;
  text-transform:uppercase;
  color:#0F52BA;
  font-family:algerian;
  font-size:70px;
}

.question {
  font-weight: bold;
  margin-bottom: 20px;
  font-family:serif;
  font-size:135%;
}

.options {
  margin-bottom: 30px;
  color:#1434A4;
  font-family:sans-serif;
  text-align:left;
}

.option {
  display: block;
  margin-bottom: 10px;

}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 33px;
  width:190px;
}

  
.sttyle {
  background-color:rgba(255,255,255,0.85);
  width: 700px;
  border-radius: 12px;
  padding: 50px;
  margin: 20px;
  left: 5%;
  line-height: 30px;
  margin-top: -60px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.containergs {
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}


.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}

.option.correct {
  background-color: #aaf0aa; 
}

.option.incorrect {
  background-color: #ffaaaa; 
}
